.input-container {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background-image: url(../assets/imgs/notepad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.todo-check {
  position: absolute;
  right: 15px;
  margin-top: 25px;
}

.todo-check-label {
  font-size: 20px;
  font-weight: 600;
}

.todo-check-box {
  position: relative;
  bottom: 3px;
  outline: solid black 1px;
}

.todo-container {
  display: flex;
  position: relative;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.todo-contents {
  width: 60%;
}

#check-complete {
  height: 20px;
  width: 20px;
}

.todo-container {
    background-image: url(../assets/imgs/paper.jpg);
}

.form-label {
    margin-bottom: 0px !important;
    margin-left: 6px;
}

#due, #task {
    font-size: 18px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit-btn {
  appearance: none;
  background-color: rgba(195, 195, 195, 0.9);
  border-radius: 20px;
  border-style: none;
  box-shadow: #dcebff 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 15px;
  text-align: center;
  transition: all .15s;
  touch-action: manipulation;
}

#submit-btn:hover {
  background-color: rgba(255, 230, 166, 0.9);
  box-shadow: rgba(255, 185, 150, 0.9) 0 -6px 8px inset;
  transform: scale(1.05);
}

#submit-btn:active {
  transform: scale(1.025);
}